<h1>Welcome to <%= appname %></h1>
<p><%= appname %> is a demonstration testbed for fisheries database</p>
<p><%= appname %> is a development platform the data schema</p>
<p>To explore the user model and interface development platform, visit <a href="http://coastapp/heroku.com">CoastApp</a>.</p>

<%= render 'pages/home_signedout' %>
<br />
<%= render 'pages/home_signedin' %>
