<h1>Listing taxas</h1>

<table>
  <tr>
    <th>Latin</th>
    <th>Common</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxas.each do |taxa| %>
  <tr>
    <td><%= taxa.latin %></td>
    <td><%= taxa.common %></td>
    <td><%= link_to 'Show', taxa %> /</td>
    <td><%= link_to 'Edit', edit_taxa_path(taxa) %> /</td>
    <td><%= link_to 'Destroy', taxa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taxa', new_taxa_path %>
