<h1>All Fish</h1>

<table class="taxas">
  <tr>
    <th>Binomial name</th>
    <th>Common name</th>
    <th></th>
  </tr>

<% @taxas.each do |taxa| %>
  <tr>
	<td><%= link_to taxa.latin, taxa %></td>
    <td><%= taxa.common %></td>
    <td><span class='controls'>
    	<%= link_to 'Edit', edit_taxa_path(taxa) %> | 
    	<%= link_to 'Destroy', taxa, :confirm => 'Are you sure?', :method => :delete %>
	</span></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taxa', new_taxa_path, :class => "button round" %>
