<%= link_to 'Back', taxas_path, :class => "back button round" %>
<div class="panel round">
	<h2><%= @taxa.latin %></h2>
	<p id="notice"><%= notice %></p>

	<p>
	  	<b>Linnean name:</b>
	  	<%= @taxa.latin %>
	</p>

	<p>
	  	<b>Common name:</b>
	  	<%= @taxa.common %>
	</p>

	<%= link_to 'Edit', edit_taxa_path(@taxa) %>
	
</div>
<div class="panel round">
	<% if @taxa.logs.empty? %>
		<%= render 'shared/nodata' %>
	<% else %>
		<h2>Fisheries log for <%= @taxa.latin%></h2>
		<%= render 'shared/log_table_header' %>
    	<%= render @logs %>
		<%= render 'shared/log_table_footer' %>
	<% end %>
</div>

