	<tr class="<%= cycle("even","odd") %>">		
  			<td><%= log.date %></td>
		<% unless @parent_page == 'Site' %>
			<td><%= link_to log.site.name, log.site %></td>
		<% end %>
		<% unless @parent_page == 'Taxa' %>
			<td><%= link_to log.taxa.latin, log.taxa %></td>
		<% end %>
			<td><%= log.weight %></td>
			<td><%= log.length %></td>
			<td><%= time_ago_in_words(log.created_at) %> ago.</td>
		<% unless @parent_page == 'User' %>
			<td><%= link_to log.user.name, log.user %></td>
		<% end %>
		<% if @parent_page == 'Log' %>
			<td><span class='controls'>
				<%= link_to 'Show', log %> | 
		    	<%= link_to 'Edit', edit_log_path(log) %> | 
		    	<%= link_to 'Destroy', log, :confirm => 'Are you sure?', :method => :delete %>
			<span></td>
		<% end %>
	</tr>


