<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Country:</b>
  <%= @site.country %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>

<% unless @site.logs.empty? %>
        <table class="logs" summary="Site Logs">
          <%= render @logs %>
        </table>
      <% end %>


